@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:ital,wght@0,100;1,200&family=Roboto:ital,wght@0,300;0,900;1,100&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #191919;
  overflow-x: hidden;
  color: #fff;
}
.noResult {
  color: #fff;
  font-family: monospace;
  font-size: 20px;
}
.videoMain {
  display: flex;
  justify-content: space-around;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header input {
  width: 750px;
  height: 30px;
  outline: none;
}
.header img {
  width: 60px;
}

.videoItems {
  cursor: pointer;
  width: 300px;
  height: 300px;
}
.videoSec {
  width: 900px;
}

@media only screen and (max-width: 600px) {
  .videoSec {
    width: 40%;
  }
  .videoItems {
    width: 250px;
    /* margin-top: 500px; */
  }
  .lists {
    margin-top: 900px;
    position: relative;
    right: 120px;
  }
  .big-video {
    width: 90px;
  }
}
